version: "3.9"
services:
  agent:
    image: portainer/agent:latest
    networks:
      - default
    ports:
      - 9001:9001
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/var/lib/docker/volumes
