version: '3.9'

x-shared: &shared
  restart: unless-stopped
  image: docker.n8n.io/n8nio/n8n
  environment:
    DB_TYPE: postgresdb
    DB_POSTGRESDB_HOST: postgres
    DB_POSTGRESDB_PORT: 5432
    DB_POSTGRESDB_DATABASE: n8n
    DB_POSTGRESDB_USER: n8n
    DB_POSTGRESDB_PASSWORD: n8n
    EXECUTIONS_MODE: queue
    QUEUE_BULL_REDIS_HOST: redis
    QUEUE_HEALTH_CHECK_ACTIVE: true
    N8N_ENCRYPTION_KEY: ${ENCRYPTION_KEY:?UNSET_ENCRYPTION_KEY_ERROR}
    GENERIC_TIMEZONE: ${TZ:-Europe/Rome}
    TZ: ${TZ:-Europe/Rome}
    N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
    N8N_RUNNERS_ENABLED: true
    OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS: true
    N8N_BLOCK_ENV_ACCESS_IN_NODE: true
    N8N_GIT_NODE_DISABLE_BARE_REPOS: true
    N8N_HOST: ${PRIVATE_HOST:?UNSET_PRIVATE_HOST_ERROR}
    N8N_DIAGNOSTICS_ENABLED: false
  networks:
    - default
  volumes:
    - n8n:/home/node/.n8n
  depends_on:
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8n
      POSTGRES_DB: n8n
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - default
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U n8n -d n8n']
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:8-alpine
    restart: always
    volumes:
      - redis:/data
    networks:
      - default
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 10

  main:
    <<: *shared
    networks:
      - default
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.n8n.entrypoints: websecure
      traefik.http.routers.n8n.rule: Host(`${PRIVATE_HOST:?UNSET_PRIVATE_HOST_ERROR}`)
      traefik.http.routers.n8n.tls: true
      traefik.http.routers.n8n.tls.certresolver: cfresolver
      traefik.http.routers.n8n.middlewares: cloudflare, crowdsec, oidc-system
      traefik.http.services.main-n8n.loadbalancer.server.port: 5678
      traefik.http.middlewares.n8n.headers.SSLRedirect: true
      traefik.http.middlewares.n8n.headers.STSSeconds: 315360000
      traefik.http.middlewares.n8n.headers.browserXSSFilter: true
      traefik.http.middlewares.n8n.headers.contentTypeNosniff: true
      traefik.http.middlewares.n8n.headers.forceSTSHeader: true
      traefik.http.middlewares.n8n.headers.SSLHost: ${PRIVATE_HOST:?UNSET_PRIVATE_HOST_ERROR}
      traefik.http.middlewares.n8n.headers.STSIncludeSubdomains: true
      traefik.http.middlewares.n8n.headers.STSPreload: true

  worker:
    <<: *shared
    command: worker
    depends_on:
      - main

networks:
  proxy:
    external: true
    name: proxy

volumes:
  db:
  n8n:
  redis: